#Springboot-jdk-17
name: main-workflow
on: 
  workflow_dispatch
env:
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASS: ${{ secrets.DB_PASS }}
  GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }}
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    outputs:
      file1: ${{ steps.pub.outputs.test}}
    steps:
    # Checking out the code
      - name: Checkout                            
        uses: actions/checkout@v4.1.1
      - name: echo
        run: |
          ls -la
          echo "passed"
    # Scanning for secret detection
      - name: GitGuardian Shield Action          
        run: |
          pipx install ggshield
          ggshield secret scan path --recursive ./
      - id: pub
        run: echo "test=hello-world" >> $GITHUB_OUTPUT
      - name: output
        run: echo "${{ toJSON(github) }}"
    
    # Vulnerability Check using Snyk Code
      - name: Snyk
        uses: snyk/actions/maven@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: |
            --sarif-file-output: snyk.sarif 
            --severity-threshold: medium

    # Analysing the Source Code using SonarCloud

    # Setting up Java Environment
      - name: Setup Java JDK
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: package
        run: mvn clean package
      - name: file check
        run: ls -la target
      - name: unit-test
        run: | 
          mvn test
          ls -la
          ls -la target
          cd target
          cd site
          ls -la jacoco
      # Publishing the test results to the Job Summary
      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2.11.0
        with:
          comment_mode: off
          files: | 
            target/surefire-reports/TEST-*.xml
        
    #  - name: JaCoCo Report
    #    uses: Madrapps/jacoco-report@v1.6.1
    #    with:
    #      paths: target/site/jacoco/jacoco.xml
    #      token: ${{secrets.TOKEN_REPO}}
    #      min-coverage-overall: 60
      
