name: main-workflow
on:
  workflow_dispatch
env:
  DB_USER: ${{ secrets.DB_USER }}
  DB_PASS: ${{ secrets.DB_PASS }}
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      file1: ${{ steps.pub.outputs.test}}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: echo
        run: |
          ls -la
          echo "passed"
      - id: pub
        run: echo "test=hello-world" >> $GITHUB_OUTPUT
      - name: output
        run: echo "${{ toJSON(github) }}"
      - name: Setup Java JDK
        uses: actions/setup-java@v3.13.0
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: package
        run: mvn clean package
      - name: file check
        run: ls -la
      - name: unit-test
        run: | 
          mvn test
          ls -la target
  test:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: info
        run: echo ${{needs.build.outputs.file1}}
      - name: display
        id: show
        run: echo "speed=fast"  >> $GITHUB_OUTPUT
      - name: out
        run: echo ${{steps.show.outputs.speed}}
      - name: checking
        run: ls -la
